@import url('https://fonts.googleapis.com/css?family=Roboto:400');

@font-face {
                          font-family: "SamsungOneKorean-400";
                          src: url('../fonts/SamsungOneKorean-400_v1.2_hinted_20180830.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "SamsungOneKorean-700";
                          src: url('../fonts/SamsungOneKorean-700_v1.2_hinted_20180830.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "SamsungOneKorean-300";
                          src: url('../fonts/SamsungOneKorean-300_v1.2_hinted_20180830.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "SamsungOneKorean-500";
                          src: url('../fonts/SamsungOneKorean-500_v1.2_hinted_20180830.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "SamsungOneKorean-600";
                          src: url('../fonts/SamsungOneKorean-600_v1.2_hinted_20180830.ttf') format("truetype");
                        }
                        
.animaplugin {
  width               : 100%;
  min-width           : 1920px;
  height              : 100vh;
  min-height          : 3770px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(243, 246, 248, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.animaplugin .animaplugin1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 340px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size           : 70.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 84.0px;
}
.animaplugin .uac1cuc694 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 224px;
  height              : 151px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 340px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .uac1cuc694 .uac1cuc6941 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 151px;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .uac1cuc694 .uac1cuc6941 .layoutprototypee {
  background-color    : rgba(255,255,255,0.0);
  top                 : 61px;
  height              : auto;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.animaplugin .uac1cuc694 .uac1cuc6941 .uac1cuc6942 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 34.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.animaplugin .uac1cuc694 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 54px;
  height              : 82px;
  width               : 262px;
  position            : absolute;
  margin              : 0;
  left                : 978px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ucd08uae30uc0acuc6a9ubc29ubc95 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 535px;
  height              : 923px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 340px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ucd08uae30uc0acuc6a9ubc29ubc95 .a2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 302px;
  height              : 621px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ucd08uae30uc0acuc6a9ubc29ubc95 .a2 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 621px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 735px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ucd08uae30uc0acuc6a9ubc29ubc95 .a2 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 512px;
  height              : 104px;
  width               : 493px;
  position            : absolute;
  margin              : 0;
  left                : 741px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ucd08uae30uc0acuc6a9ubc29ubc95 .a2 .rectanglecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 45px;
  width               : 67px;
  position            : absolute;
  margin              : 0;
  left                : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ucd08uae30uc0acuc6a9ubc29ubc95 .a2 .a21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.animaplugin .ucd08uae30uc0acuc6a9ubc29ubc95 .a2 .manageubc84ud2bcuc744ub204ub974uba74previ {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 593px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.animaplugin .ucd08uae30uc0acuc6a9ubc29ubc95 .a2 .uc0bduc785uc744uc644ub8ccud558uc600uc73cuba74saveubc84 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 252px;
  height              : auto;
  width               : 593px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.animaplugin .ucd08uae30uc0acuc6a9ubc29ubc95 .a1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 181px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ucd08uae30uc0acuc6a9ubc29ubc95 .a1 .a11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.animaplugin .ucd08uae30uc0acuc6a9ubc29ubc95 .a1 .hostinguc5d0ub4e4uc5b4uac00ubbf8ub9acuc791uc131ud574 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 593px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.animaplugin .ucd08uae30uc0acuc6a9ubc29ubc95 .a1 .hosting {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.animaplugin .ucd08uae30uc0acuc6a9ubc29ubc95 .a1 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 181px;
  width               : 239px;
  position            : absolute;
  margin              : 0;
  left                : 1001px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ucd08uae30uc0acuc6a9ubc29ubc95 .a1 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 116px;
  height              : 33px;
  width               : 239px;
  position            : absolute;
  margin              : 0;
  left                : 1001px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ucd08uae30uc0acuc6a9ubc29ubc95 .a1 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 181px;
  width               : 418px;
  position            : absolute;
  margin              : 0;
  left                : 822px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ucd08uae30uc0acuc6a9ubc29ubc95 .ucd08uae30uc0acuc6a9ubc29ubc951 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 34.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.animaplugin .ucd94ucd9c {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1618px;
  height              : 181px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 340px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ucd94ucd9c .groupcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 181px;
  width               : 239px;
  position            : absolute;
  margin              : 0;
  left                : 1001px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ucd94ucd9c .groupcopy .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 181px;
  width               : 239px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ucd94ucd9c .groupcopy .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 52px;
  height              : 33px;
  width               : 239px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ucd94ucd9c .exportubc84ud2bcuc744ud074ub9adud558uba74ubcc0ud658uacfc {
  background-color    : rgba(255,255,255,0.0);
  top                 : 61px;
  height              : auto;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.animaplugin .ucd94ucd9c .ucd94ucd9c1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 34.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.animaplugin .uc678ubd80ud3f4ub354ub9c1ud06c {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2831px;
  height              : 739px;
  width               : 1258px;
  position            : absolute;
  margin              : 0;
  left                : 340px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .uc678ubd80ud3f4ub354ub9c1ud06c .uc678ubd80ud3f4ub354ub9c1ud06c1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 245px;
  width               : 1242px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .uc678ubd80ud3f4ub354ub9c1ud06c .uc678ubd80ud3f4ub354ub9c1ud06c1 .groupcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 245px;
  width               : 239px;
  position            : absolute;
  margin              : 0;
  left                : 1003px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .uc678ubd80ud3f4ub354ub9c1ud06c .uc678ubd80ud3f4ub354ub9c1ud06c1 .groupcopy .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 245px;
  width               : 239px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .uc678ubd80ud3f4ub354ub9c1ud06c .uc678ubd80ud3f4ub354ub9c1ud06c1 .groupcopy .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 84px;
  height              : 33px;
  width               : 239px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .uc678ubd80ud3f4ub354ub9c1ud06c .uc678ubd80ud3f4ub354ub9c1ud06c1 .uc2a4ud06cub9b0uac04ub9c1ud06cub294sketchuc5d0uc11c {
  background-color    : rgba(255,255,255,0.0);
  top                 : 61px;
  height              : auto;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.animaplugin .uc678ubd80ud3f4ub354ub9c1ud06c .uc678ubd80ud3f4ub354ub9c1ud06c1 .uc678ubd80ud3f4ub354ub9c1ud06c2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 34.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.animaplugin .uc678ubd80ud3f4ub354ub9c1ud06c .externallink {
  background-color    : rgba(255,255,255,0.0);
  top                 : 305px;
  height              : 104px;
  width               : 1258px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .uc678ubd80ud3f4ub354ub9c1ud06c .externallink .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 99px;
  width               : 607px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .uc678ubd80ud3f4ub354ub9c1ud06c .externallink .group5 .prototypeflowl {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 607px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.animaplugin .uc678ubd80ud3f4ub354ub9c1ud06c .externallink .group5 .externallink1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.animaplugin .uc678ubd80ud3f4ub354ub9c1ud06c .externallink .group9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 60px;
  width               : 225px;
  position            : absolute;
  margin              : 0;
  left                : 1017px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .uc678ubd80ud3f4ub354ub9c1ud06c .externallink .group9 .rectangle {
  background-color    : rgba(50, 10, 232, 1.0);
  top                 : 0px;
  height              : 60px;
  width               : 225px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 7px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .uc678ubd80ud3f4ub354ub9c1ud06c .externallink .group9 .externallink1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 45px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size           : 19.5px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.animaplugin .uc678ubd80ud3f4ub354ub9c1ud06c .inserturl {
  background-color    : rgba(255,255,255,0.0);
  top                 : 444px;
  height              : 295px;
  width               : 1239px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .uc678ubd80ud3f4ub354ub9c1ud06c .inserturl .group7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 295px;
  width               : 607px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .uc678ubd80ud3f4ub354ub9c1ud06c .inserturl .group7 .urluc744uc801ub294uce78uc5d0ub9c1ud06cub97cuc5f0uacb0ud558uace0uc790 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 607px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.animaplugin .uc678ubd80ud3f4ub354ub9c1ud06c .inserturl .group7 .usersbon128docum {
  background-color    : rgba(255,255,255,0.0);
  top                 : 139px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(255, 0, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.animaplugin .uc678ubd80ud3f4ub354ub9c1ud06c .inserturl .group7 .usersbon128docum1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 197px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(255, 0, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.animaplugin .uc678ubd80ud3f4ub354ub9c1ud06c .inserturl .group7 .openinanewtabuc744uccb4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 265px;
  height              : auto;
  width               : 607px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.animaplugin .uc678ubd80ud3f4ub354ub9c1ud06c .inserturl .group7 .inserturl1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.animaplugin .uc678ubd80ud3f4ub354ub9c1ud06c .inserturl .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 47px;
  height              : 189px;
  width               : 387px;
  position            : absolute;
  margin              : 0;
  left                : 852px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ud3f4ub354uad6cuc131 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1959px;
  height              : 712px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 340px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ud3f4ub354uad6cuc131 .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 406px;
  height              : 133px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ud3f4ub354uad6cuc131 .group3 .projectfolderubcc0uacbdub420 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 109px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(255, 0, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .group3 .ucd94ucd9cud55chtmluc555ucd95ud30cuc77cuc744ub2e4uc74cuacfc {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 607px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .group3 .html {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .group3 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 99px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 860px;
  transform           : rotate(0deg);
  opacity             : 0.4;
}
.animaplugin .ud3f4ub354uad6cuc131 .group3 .group2 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 80px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ud3f4ub354uad6cuc131 .group3 .group2 .assets {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .group3 .group2copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 99px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 960px;
  transform           : rotate(0deg);
  opacity             : 0.4;
}
.animaplugin .ud3f4ub354uad6cuc131 .group3 .group2copy .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 80px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ud3f4ub354uad6cuc131 .group3 .group2copy .custom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .group3 .group2copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 99px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 1060px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ud3f4ub354uad6cuc131 .group3 .group2copy2 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 80px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ud3f4ub354uad6cuc131 .group3 .group2copy2 .html1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .group3 .group2copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 99px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 1160px;
  transform           : rotate(0deg);
  opacity             : 0.4;
}
.animaplugin .ud3f4ub354uad6cuc131 .group3 .group2copy3 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 80px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ud3f4ub354uad6cuc131 .group3 .group2copy3 .measure {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 233px;
  height              : 133px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ud3f4ub354uad6cuc131 .group4 .projectfolderubcc0uacbdub420 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 109px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(255, 0, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .group4 .ucee4uc2a4ud140ucf54ub4dcub97cuc218uc815ud558uac70ub098ucd94uac00ud560uc0c1ud669 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 607px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .group4 .customcode {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .group4 .group2copy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 99px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 860px;
  transform           : rotate(0deg);
  opacity             : 0.4;
}
.animaplugin .ud3f4ub354uad6cuc131 .group4 .group2copy4 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 80px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ud3f4ub354uad6cuc131 .group4 .group2copy4 .assets {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .group4 .group2copy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 99px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 960px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ud3f4ub354uad6cuc131 .group4 .group2copy5 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 80px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ud3f4ub354uad6cuc131 .group4 .group2copy5 .custom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .group4 .group2copy6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 99px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 1060px;
  transform           : rotate(0deg);
  opacity             : 0.4;
}
.animaplugin .ud3f4ub354uad6cuc131 .group4 .group2copy6 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 80px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ud3f4ub354uad6cuc131 .group4 .group2copy6 .html {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .group4 .group2copy7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 99px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 1160px;
  transform           : rotate(0deg);
  opacity             : 0.4;
}
.animaplugin .ud3f4ub354uad6cuc131 .group4 .group2copy7 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 80px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ud3f4ub354uad6cuc131 .group4 .group2copy7 .measure {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 112px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ud3f4ub354uad6cuc131 .group5 .projectfolderubcc0uacbdub420 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(255, 0, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .group5 .uc544uc774ucf58ubc0fub2e4uc6b4ub85cub4dcuac00ub2a5ud55cud30cuc77cub4e4uc744 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 607px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .group5 .assets {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .group5 .group2copy8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 99px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 860px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ud3f4ub354uad6cuc131 .group5 .group2copy8 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 80px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ud3f4ub354uad6cuc131 .group5 .group2copy8 .assets1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .group5 .group2copy9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 99px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 960px;
  transform           : rotate(0deg);
  opacity             : 0.4;
}
.animaplugin .ud3f4ub354uad6cuc131 .group5 .group2copy9 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 80px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ud3f4ub354uad6cuc131 .group5 .group2copy9 .custom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .group5 .group2copy10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 99px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 1060px;
  transform           : rotate(0deg);
  opacity             : 0.4;
}
.animaplugin .ud3f4ub354uad6cuc131 .group5 .group2copy10 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 80px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ud3f4ub354uad6cuc131 .group5 .group2copy10 .html {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .group5 .group2copy11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 99px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 1160px;
  transform           : rotate(0deg);
  opacity             : 0.4;
}
.animaplugin .ud3f4ub354uad6cuc131 .group5 .group2copy11 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 80px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ud3f4ub354uad6cuc131 .group5 .group2copy11 .measure {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 579px;
  height              : 133px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ud3f4ub354uad6cuc131 .group6 .projectfolderubcc0uacbdub420 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 109px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(255, 0, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .group6 .sketchmeasureplugi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 607px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .group6 .measure {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .group6 .group2copy12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 99px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 860px;
  transform           : rotate(0deg);
  opacity             : 0.4;
}
.animaplugin .ud3f4ub354uad6cuc131 .group6 .group2copy12 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 80px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ud3f4ub354uad6cuc131 .group6 .group2copy12 .assets {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .group6 .group2copy13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 99px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 960px;
  transform           : rotate(0deg);
  opacity             : 0.4;
}
.animaplugin .ud3f4ub354uad6cuc131 .group6 .group2copy13 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 80px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ud3f4ub354uad6cuc131 .group6 .group2copy13 .custom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .group6 .group2copy14 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 99px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 1060px;
  transform           : rotate(0deg);
  opacity             : 0.4;
}
.animaplugin .ud3f4ub354uad6cuc131 .group6 .group2copy14 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 80px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ud3f4ub354uad6cuc131 .group6 .group2copy14 .html {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .group6 .group2copy15 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 99px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 1160px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ud3f4ub354uad6cuc131 .group6 .group2copy15 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 80px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.animaplugin .ud3f4ub354uad6cuc131 .group6 .group2copy15 .measure1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.animaplugin .ud3f4ub354uad6cuc131 .ud3f4ub354uad6cuc1311 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 34.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}