@import url('https://fonts.googleapis.com/css?family=Roboto:400');

@font-face {
                          font-family: "SamsungOneKorean-400";
                          src: url('../fonts/SamsungOneKorean-400_v1.2_hinted_20180830.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "SamsungOneKorean-700";
                          src: url('../fonts/SamsungOneKorean-700_v1.2_hinted_20180830.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "SamsungOneKorean-300";
                          src: url('../fonts/SamsungOneKorean-300_v1.2_hinted_20180830.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "SamsungOneKorean-500";
                          src: url('../fonts/SamsungOneKorean-500_v1.2_hinted_20180830.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "SamsungOneKorean-600";
                          src: url('../fonts/SamsungOneKorean-600_v1.2_hinted_20180830.ttf') format("truetype");
                        }
                        
.gridsystem {
  width               : 100%;
  min-width           : 1920px;
  height              : 100vh;
  min-height          : 1282px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(243, 246, 248, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.gridsystem .group20 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : 1022px;
  width               : 1210px;
  position            : relative;
  margin              : 0;
  left                : 354px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .gridsystem1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size           : 70.0px;
  color               : rgba(73, 87, 97, 1.0);
  text-align          : left;
  line-height         : 84.0px;
}
.gridsystem .group20 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 164px;
  height              : 858px;
  width               : 1207px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 858px;
  width               : 1207px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .a85 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 839px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 283px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(87, 117, 138, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.gridsystem .group20 .group2 .group3 .a20 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 839px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 396px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(87, 117, 138, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy17 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 830px;
  height              : 1px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 398px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectangle {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 830px;
  height              : 1px;
  width               : 61px;
  position            : absolute;
  margin              : 0;
  left                : 262px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy16 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 823px;
  height              : 15px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 413px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy15 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 823px;
  height              : 15px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 397px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy14 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 823px;
  height              : 15px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 322px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectangle1 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 823px;
  height              : 15px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 262px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .loremipsumdolorsi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 195px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 263px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(160, 171, 178, 1.0);
  text-align          : left;
  line-height         : 27.0px;
}
.gridsystem .group20 .group2 .group3 .loremipsum {
  background-color    : rgba(255,255,255,0.0);
  top                 : 100px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 258px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size           : 59.0px;
  color               : rgba(160, 171, 178, 1.0);
  text-align          : left;
  line-height         : 71.0px;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy13 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 50px;
  height              : 758px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 322px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy131 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 50px;
  height              : 758px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 397px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy132 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 50px;
  height              : 758px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 473px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy133 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 50px;
  height              : 758px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 549px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy134 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 50px;
  height              : 758px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 625px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy135 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 50px;
  height              : 758px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 701px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy136 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 50px;
  height              : 758px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 776px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy137 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 50px;
  height              : 758px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 852px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy138 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 50px;
  height              : 758px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 928px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy139 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 50px;
  height              : 758px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 1004px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy1310 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 50px;
  height              : 758px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 1080px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy1311 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 50px;
  height              : 758px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 1155px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy12 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 50px;
  height              : 758px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 262px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy121 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 50px;
  height              : 758px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 337px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy122 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 50px;
  height              : 758px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 413px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy123 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 50px;
  height              : 758px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 489px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy124 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 50px;
  height              : 758px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 565px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy125 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 50px;
  height              : 758px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 641px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy126 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 50px;
  height              : 758px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 716px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy127 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 50px;
  height              : 758px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 792px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy128 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 50px;
  height              : 758px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 868px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy129 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 50px;
  height              : 758px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 944px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy1210 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 50px;
  height              : 758px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 1020px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy1211 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 50px;
  height              : 758px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 1095px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 43px;
  height              : 772px;
  box-sizing          : border-box;
  width               : 1207px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 15px;
  border-style        : solid;
  border-width        : 7px;
  border-color        : rgba(160, 171, 178, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectangle3 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 50px;
  height              : 758px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 216px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy11 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 40px;
  height              : 768px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 1096px;
  transform           : rotate(0deg);
  opacity             : 0.03;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy10 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 40px;
  height              : 768px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 1021px;
  transform           : rotate(0deg);
  opacity             : 0.03;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy9 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 40px;
  height              : 768px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 945px;
  transform           : rotate(0deg);
  opacity             : 0.03;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy8 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 40px;
  height              : 768px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 869px;
  transform           : rotate(0deg);
  opacity             : 0.03;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy7 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 40px;
  height              : 768px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 793px;
  transform           : rotate(0deg);
  opacity             : 0.03;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy6 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 40px;
  height              : 768px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 717px;
  transform           : rotate(0deg);
  opacity             : 0.03;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy5 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 40px;
  height              : 768px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 642px;
  transform           : rotate(0deg);
  opacity             : 0.03;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy4 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 40px;
  height              : 768px;
  width               : 60px;
  position            : absolute;
  margin              : 0;
  left                : 565px;
  transform           : rotate(0deg);
  opacity             : 0.03;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy3 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 40px;
  height              : 768px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 490px;
  transform           : rotate(0deg);
  opacity             : 0.03;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy2 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 40px;
  height              : 768px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 414px;
  transform           : rotate(0deg);
  opacity             : 0.03;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 40px;
  height              : 768px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 338px;
  transform           : rotate(0deg);
  opacity             : 0.03;
}
.gridsystem .group20 .group2 .group3 .rectangle4 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 40px;
  height              : 768px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 263px;
  transform           : rotate(0deg);
  opacity             : 0.03;
}
.gridsystem .group20 .group2 .group3 .rectangle5 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 27px;
  height              : 1px;
  width               : 894px;
  position            : absolute;
  margin              : 0;
  left                : 262px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectanglecopy141 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 20px;
  height              : 15px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 1155px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .rectangle6 {
  background-color    : rgba(160, 171, 178, 1.0);
  top                 : 20px;
  height              : 15px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 262px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .group3 .desktoponly {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(73, 87, 97, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.gridsystem .group20 .group2 .group3 .a1240 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 684px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(87, 117, 138, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.gridsystem .group20 .group2 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : 758px;
  width               : 61px;
  position            : absolute;
  margin              : 0;
  left                : 262px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .groupcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : 758px;
  width               : 61px;
  position            : absolute;
  margin              : 0;
  left                : 337px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .groupcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : 758px;
  width               : 61px;
  position            : absolute;
  margin              : 0;
  left                : 413px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .groupcopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : 758px;
  width               : 61px;
  position            : absolute;
  margin              : 0;
  left                : 489px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .groupcopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : 758px;
  width               : 61px;
  position            : absolute;
  margin              : 0;
  left                : 565px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .groupcopy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : 758px;
  width               : 61px;
  position            : absolute;
  margin              : 0;
  left                : 641px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .groupcopy6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : 758px;
  width               : 61px;
  position            : absolute;
  margin              : 0;
  left                : 716px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .groupcopy7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : 758px;
  width               : 61px;
  position            : absolute;
  margin              : 0;
  left                : 792px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .groupcopy8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : 758px;
  width               : 61px;
  position            : absolute;
  margin              : 0;
  left                : 868px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .groupcopy9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : 758px;
  width               : 61px;
  position            : absolute;
  margin              : 0;
  left                : 944px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .groupcopy10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : 758px;
  width               : 61px;
  position            : absolute;
  margin              : 0;
  left                : 1020px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.gridsystem .group20 .group2 .groupcopy11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : 758px;
  width               : 61px;
  position            : absolute;
  margin              : 0;
  left                : 1095px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}