@import url('https://fonts.googleapis.com/css?family=Roboto:400');

@font-face {
                          font-family: "SamsungOneKorean-300";
                          src: url('../fonts/SamsungOneKorean-300_v1.2_hinted_20180830.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "SamsungOneKorean-400";
                          src: url('../fonts/SamsungOneKorean-400_v1.2_hinted_20180830.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "SamsungOneKorean-700";
                          src: url('../fonts/SamsungOneKorean-700_v1.2_hinted_20180830.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "SamsungOneKorean-500";
                          src: url('../fonts/SamsungOneKorean-500_v1.2_hinted_20180830.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "SamsungOneKorean-600";
                          src: url('../fonts/SamsungOneKorean-600_v1.2_hinted_20180830.ttf') format("truetype");
                        }
                        
.github {
  width               : 100%;
  min-width           : 1920px;
  height              : 100vh;
  min-height          : 5069px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(243, 246, 248, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.github .uc6f9ud638uc2a4ud305 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3361px;
  height              : 1508px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 340px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc6f9ud638uc2a4ud305 .urlud655uc778 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1195px;
  height              : 313px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc6f9ud638uc2a4ud305 .urlud655uc778 .img {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 313px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 735px;
  border-radius       : 4px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc6f9ud638uc2a4ud305 .urlud655uc778 .img .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 313px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc6f9ud638uc2a4ud305 .urlud655uc778 .img .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 313px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc6f9ud638uc2a4ud305 .urlud655uc778 .txt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 279px;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc6f9ud638uc2a4ud305 .urlud655uc778 .txt .urlud655uc7781 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.github .uc6f9ud638uc2a4ud305 .urlud655uc778 .txt .ud654uba74uc774uc0c8ub85cuace0uce68ub418uace0ub2e4uc2dcud56dubaa9uc744ud655 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.github .uc6f9ud638uc2a4ud305 .urlud655uc778 .txt .ud654uba74uc774uc0c8ub85cuace0uce68ub418uace0ub2e4uc2dcud56dubaa9uc744ud655 .span1 {
  
}
.github .uc6f9ud638uc2a4ud305 .urlud655uc778 .txt .ud654uba74uc774uc0c8ub85cuace0uce68ub418uace0ub2e4uc2dcud56dubaa9uc744ud655 .span2 {
  color               : rgba(0, 103, 214, 1.0);
}
.github .uc6f9ud638uc2a4ud305 .urlud655uc778 .txt .ud654uba74uc774uc0c8ub85cuace0uce68ub418uace0ub2e4uc2dcud56dubaa9uc744ud655 .span3 {
  
}
.github .uc6f9ud638uc2a4ud305 .urlud655uc778 .txt .ud654uba74uc774uc0c8ub85cuace0uce68ub418uace0ub2e4uc2dcud56dubaa9uc744ud655 .span4 {
  color               : rgba(0, 103, 214, 1.0);
}
.github .uc6f9ud638uc2a4ud305 .urlud655uc778 .txt .ud654uba74uc774uc0c8ub85cuace0uce68ub418uace0ub2e4uc2dcud56dubaa9uc744ud655 .span5 {
  
}
.github .uc6f9ud638uc2a4ud305 .urlud655uc778 .txt .ud654uba74uc774uc0c8ub85cuace0uce68ub418uace0ub2e4uc2dcud56dubaa9uc744ud655 .span6 {
  color               : rgba(0, 103, 214, 1.0);
}
.github .uc6f9ud638uc2a4ud305 .urlud655uc778 .txt .ud654uba74uc774uc0c8ub85cuace0uce68ub418uace0ub2e4uc2dcud56dubaa9uc744ud655 .span7 {
  
}
.github .uc6f9ud638uc2a4ud305 .urlud655uc778 .txt .ud654uba74uc774uc0c8ub85cuace0uce68ub418uace0ub2e4uc2dcud56dubaa9uc744ud655 .span8 {
  color               : rgba(0, 103, 214, 1.0);
}
.github .uc6f9ud638uc2a4ud305 .githubpagesuc124uc815ubcc0uacbd {
  background-color    : rgba(255,255,255,0.0);
  top                 : 817px;
  height              : 313px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc6f9ud638uc2a4ud305 .githubpagesuc124uc815ubcc0uacbd .img {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 313px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 735px;
  border-radius       : 4px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc6f9ud638uc2a4ud305 .githubpagesuc124uc815ubcc0uacbd .img .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 313px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc6f9ud638uc2a4ud305 .githubpagesuc124uc815ubcc0uacbd .img .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 338px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc6f9ud638uc2a4ud305 .githubpagesuc124uc815ubcc0uacbd .txt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 129px;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc6f9ud638uc2a4ud305 .githubpagesuc124uc815ubcc0uacbd .txt .githubpagesuc124uc815ubcc0uacbd1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.github .uc6f9ud638uc2a4ud305 .githubpagesuc124uc815ubcc0uacbd .txt .settingsub85cuc9c4uc785ud55cub4a4ub098 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.github .uc6f9ud638uc2a4ud305 .settingsub85cuc774ub3d9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 464px;
  height              : 313px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc6f9ud638uc2a4ud305 .settingsub85cuc774ub3d9 .img {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 313px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 735px;
  border-radius       : 4px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc6f9ud638uc2a4ud305 .settingsub85cuc774ub3d9 .img .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 313px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc6f9ud638uc2a4ud305 .settingsub85cuc774ub3d9 .img .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 313px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc6f9ud638uc2a4ud305 .settingsub85cuc774ub3d9 .img .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 12px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 368px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc6f9ud638uc2a4ud305 .settingsub85cuc774ub3d9 .txt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 99px;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc6f9ud638uc2a4ud305 .settingsub85cuc774ub3d9 .txt .settingsub85cuc774ub3d91 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.github .uc6f9ud638uc2a4ud305 .settingsub85cuc774ub3d9 .txt .uc6f9uc0acuc774ud2b8ub85cuc774ub3d9ud558uba74ud604uc7acuc800uc7a5uc18cuc5d0 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.github .uc6f9ud638uc2a4ud305 .githubuc6f9uc73cub85cuc774ub3d9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 343px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc6f9ud638uc2a4ud305 .githubuc6f9uc73cub85cuc774ub3d9 .img {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 343px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 735px;
  border-radius       : 4px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc6f9ud638uc2a4ud305 .githubuc6f9uc73cub85cuc774ub3d9 .img .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 343px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc6f9ud638uc2a4ud305 .githubuc6f9uc73cub85cuc774ub3d9 .img .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 343px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc6f9ud638uc2a4ud305 .githubuc6f9uc73cub85cuc774ub3d9 .img .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 168px;
  height              : 33px;
  width               : 250px;
  position            : absolute;
  margin              : 0;
  left                : 180px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc6f9ud638uc2a4ud305 .githubuc6f9uc73cub85cuc774ub3d9 .txt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 99px;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc6f9ud638uc2a4ud305 .githubuc6f9uc73cub85cuc774ub3d9 .txt .githubuc6f9uc73cub85cuc774ub3d91 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.github .uc6f9ud638uc2a4ud305 .githubuc6f9uc73cub85cuc774ub3d9 .txt .githubuc6f9uad00ub9acud398uc774uc9c0ub85cuc774ub3d9ud558 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.github .uc6f9ud638uc2a4ud305 .githubuc6f9uc73cub85cuc774ub3d9 .txt .githubuc6f9uad00ub9acud398uc774uc9c0ub85cuc774ub3d9ud558 .span1 {
  
}
.github .uc6f9ud638uc2a4ud305 .githubuc6f9uc73cub85cuc774ub3d9 .txt .githubuc6f9uad00ub9acud398uc774uc9c0ub85cuc774ub3d9ud558 .span2 {
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
}
.github .uc6f9ud638uc2a4ud305 .githubuc6f9uc73cub85cuc774ub3d9 .txt .githubuc6f9uad00ub9acud398uc774uc9c0ub85cuc774ub3d9ud558 .span3 {
  font-family         : "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
}
.github .uc6f9ud638uc2a4ud305 .githubuc6f9uc73cub85cuc774ub3d9 .txt .githubuc6f9uad00ub9acud398uc774uc9c0ub85cuc774ub3d9ud558 .span4 {
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
}
.github .uc6f9ud638uc2a4ud305 .githubuc6f9uc73cub85cuc774ub3d9 .txt .githubuc6f9uad00ub9acud398uc774uc9c0ub85cuc774ub3d9ud558 .span5 {
  font-family         : "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
}
.github .uc6f9ud638uc2a4ud305 .uc6f9ud638uc2a4ud3051 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 34.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.github .uc0acuc6a9ubc29ubc95 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1025px;
  height              : 2176px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 340px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .ub3d9uae30ud654 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1450px;
  height              : 343px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .ub3d9uae30ud654 .img {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 343px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 735px;
  border-radius       : 4px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .ub3d9uae30ud654 .img .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 343px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .ub3d9uae30ud654 .img .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 343px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .ub3d9uae30ud654 .img .commit {
  background-color    : rgba(255,255,255,0.0);
  top                 : 279px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 119px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-600", Helvetica, Arial, serif;
  font-size           : 8.0px;
  color               : rgba(255, 0, 255, 1.0);
  text-align          : left;
  line-height         : 9.0px;
}
.github .uc0acuc6a9ubc29ubc95 .ub3d9uae30ud654 .img .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 245px;
  height              : 80px;
  width               : 104px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .ub3d9uae30ud654 .img .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 283px;
  height              : 1px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 105px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .ub3d9uae30ud654 .txt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 207px;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .ub3d9uae30ud654 .txt .ub3d9uae30ud6541 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.github .uc0acuc6a9ubc29ubc95 .ub3d9uae30ud654 .txt .ub3d9uae30ud654ud3f4ub354uc5d0ud30cuc77cuc744uc0bduc785ud6c4cha {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.github .uc0acuc6a9ubc29ubc95 .ub3d9uae30ud654 .txt .uc791uc131uc744ub9c8uce58uace0committom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 177px;
  height              : auto;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.github .uc0acuc6a9ubc29ubc95 .ub3d9uae30ud654 .txt .summaryrequired {
  background-color    : rgba(255,255,255,0.0);
  top                 : 109px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(255, 0, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.github .uc0acuc6a9ubc29ubc95 .ucd5cuc885ubc1cud589 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1833px;
  height              : 343px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .ucd5cuc885ubc1cud589 .img {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 343px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 735px;
  border-radius       : 4px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .ucd5cuc885ubc1cud589 .img .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 343px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .ucd5cuc885ubc1cud589 .img .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 343px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .ucd5cuc885ubc1cud589 .img .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 22px;
  width               : 96px;
  position            : absolute;
  margin              : 0;
  left                : 200px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .ucd5cuc885ubc1cud589 .txt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 187px;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .ucd5cuc885ubc1cud589 .txt .ucd5cuc885ubc1cud589publish {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.github .uc0acuc6a9ubc29ubc95 .ucd5cuc885ubc1cud589 .txt .commituc744uc9c4ud589ud558uba74change {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.github .uc0acuc6a9ubc29ubc95 .ucd5cuc885ubc1cud589 .txt .publishub97cud074ub9adud558uba74ucc98uc74cud55cubc88ub9cc {
  background-color    : rgba(255,255,255,0.0);
  top                 : 139px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(255, 0, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.github .uc0acuc6a9ubc29ubc95 .ud30cuc77cuc0bduc785 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1128px;
  height              : 282px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .ud30cuc77cuc0bduc785 .img {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 282px;
  width               : 506px;
  position            : absolute;
  margin              : 0;
  left                : 734px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .ud30cuc77cuc0bduc785 .img .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 281px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .ud30cuc77cuc0bduc785 .img .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 281px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 326px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .ud30cuc77cuc0bduc785 .img .bitmap2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 84px;
  height              : 116px;
  width               : 116px;
  position            : absolute;
  margin              : 0;
  left                : 358px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .ud30cuc77cuc0bduc785 .img .bitmapcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 84px;
  height              : 116px;
  width               : 116px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
  transform           : rotate(0deg);
  opacity             : 0.3;
}
.github .uc0acuc6a9ubc29ubc95 .ud30cuc77cuc0bduc785 .img .path3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 83px;
  height              : 32px;
  width               : 212px;
  position            : absolute;
  margin              : 0;
  left                : 147px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .ud30cuc77cuc0bduc785 .txt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 159px;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .ud30cuc77cuc0bduc785 .txt .ud30cuc77cuc0bduc7851 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.github .uc0acuc6a9ubc29ubc95 .ud30cuc77cuc0bduc785 .txt .finderub610ub294ud0d0uc0c9uae30ub97cud1b5ud574ud504ub85c {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.github .uc0acuc6a9ubc29ubc95 .uc800uc7a5uc18cuae30ub2a5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 745px;
  height              : 343px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .uc800uc7a5uc18cuae30ub2a5 .img {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 343px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 735px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .uc800uc7a5uc18cuae30ub2a5 .img .groupcopy {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 343px;
  width               : 505px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .uc800uc7a5uc18cuae30ub2a5 .img .groupcopy .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 343px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .uc800uc7a5uc18cuae30ub2a5 .img .groupcopy .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 343px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .uc800uc7a5uc18cuae30ub2a5 .txt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 159px;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .uc800uc7a5uc18cuae30ub2a5 .txt .uc800uc7a5uc18crepositoryuae30ub2a5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.github .uc0acuc6a9ubc29ubc95 .uc800uc7a5uc18cuae30ub2a5 .txt .ube44uc5b4uc788ub294uc800uc7a5uc18cuac00uc0dduc131ub418uc5c8uc2b5ub2c8ub2e4uc55e {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.github .uc0acuc6a9ubc29ubc95 .uc800uc7a5uc18cuc0dduc131 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 362px;
  height              : 343px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .uc800uc7a5uc18cuc0dduc131 .img {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 343px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 735px;
  border-radius       : 4px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .uc800uc7a5uc18cuc0dduc131 .img .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 343px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .uc800uc7a5uc18cuc0dduc131 .img .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 343px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .uc800uc7a5uc18cuc0dduc131 .txt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 303px;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .uc800uc7a5uc18cuc0dduc131 .txt .uc800uc7a5uc18crepositoryuc0dduc131 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.github .uc0acuc6a9ubc29ubc95 .uc800uc7a5uc18cuc0dduc131 .txt .uc571uc758uba54uc778ud654uba74uc5d0uc11ccreatea {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.github .uc0acuc6a9ubc29ubc95 .uc800uc7a5uc18cuc0dduc131 .txt .uc571uc758uba54uc778ud654uba74uc5d0uc11ccreatea .span1 {
  
}
.github .uc0acuc6a9ubc29ubc95 .uc800uc7a5uc18cuc0dduc131 .txt .uc571uc758uba54uc778ud654uba74uc5d0uc11ccreatea .span2 {
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
}
.github .uc0acuc6a9ubc29ubc95 .uc800uc7a5uc18cuc0dduc131 .txt .uc571uc758uba54uc778ud654uba74uc5d0uc11ccreatea .span3 {
  
}
.github .uc0acuc6a9ubc29ubc95 .uc800uc7a5uc18cuc0dduc131 .txt .uc791uc131uc744ub9c8uce58uace0createrepo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 273px;
  height              : auto;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.github .uc0acuc6a9ubc29ubc95 .uc800uc7a5uc18cuc0dduc131 .txt .nameuc784uc758uc758ud504ub85cuc81dud2b8uba85uce6d {
  background-color    : rgba(255,255,255,0.0);
  top                 : 109px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(255, 0, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.github .uc0acuc6a9ubc29ubc95 .ub85cuadf8uc778 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 241px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .ub85cuadf8uc778 .img {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 241px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 735px;
  border-radius       : 4px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .ub85cuadf8uc778 .img .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 241px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .ub85cuadf8uc778 .img .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 241px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .ub85cuadf8uc778 .txt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 129px;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc0acuc6a9ubc29ubc95 .ub85cuadf8uc778 .txt .ub85cuadf8uc7781 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.github .uc0acuc6a9ubc29ubc95 .ub85cuadf8uc778 .txt .uc124uce58ud6c4uc2e4ud589ud558uc5ecuc0c1ub2e8uba54ub274ub9c9ub300uc5d0uc11c {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.github .uc0acuc6a9ubc29ubc95 .ub85cuadf8uc778 .txt .uc124uce58ud6c4uc2e4ud589ud558uc5ecuc0c1ub2e8uba54ub274ub9c9ub300uc5d0uc11c .span1 {
  
}
.github .uc0acuc6a9ubc29ubc95 .ub85cuadf8uc778 .txt .uc124uce58ud6c4uc2e4ud589ud558uc5ecuc0c1ub2e8uba54ub274ub9c9ub300uc5d0uc11c .span2 {
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
}
.github .uc0acuc6a9ubc29ubc95 .ub85cuadf8uc778 .txt .uc124uce58ud6c4uc2e4ud589ud558uc5ecuc0c1ub2e8uba54ub274ub9c9ub300uc5d0uc11c .span3 {
  
}
.github .uc0acuc6a9ubc29ubc95 .uc0acuc6a9ubc29ubc951 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 34.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.github .uc124uce58 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 564px;
  height              : 301px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 340px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc124uce58 .uac1cuc694copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 155px;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc124uce58 .uac1cuc694copy .uac1cuc6941 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 155px;
  width               : 715px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc124uce58 .uac1cuc694copy .uac1cuc6941 .txt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 155px;
  width               : 715px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc124uce58 .uac1cuc694copy .uac1cuc6941 .txt .githubdesktopuc744uc0acuc6a9ud558uae30 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 61px;
  height              : auto;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.github .uc124uce58 .uac1cuc694copy .uac1cuc6941 .txt .httpsdesktopgith {
  background-color    : rgba(255,255,255,0.0);
  top                 : 131px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(255, 0, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.github .uc124uce58 .uac1cuc694copy .uac1cuc6941 .txt .uc124uce581 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 34.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.github .uc124uce58 .img {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 301px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 735px;
  border-radius       : 4px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc124uce58 .img .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 301px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uc124uce58 .img .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 301px;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uac1cuc694 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 224px;
  height              : 181px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 340px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uac1cuc694 .uac1cuc6941 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 181px;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uac1cuc694 .uac1cuc6941 .txt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 181px;
  width               : 715px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .uac1cuc694 .uac1cuc6941 .txt .ub300ud45cuc801uc778gituc800uc7a5uc18cub85cubb34ub8ccud638uc2a4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 61px;
  height              : auto;
  width               : 715px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.github .uac1cuc694 .uac1cuc6941 .txt .uac1cuc6942 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 34.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.github .uac1cuc694 .img {
  background-color    : rgba(255,255,255,0.0);
  top                 : 58px;
  height              : 122px;
  width               : 123px;
  position            : absolute;
  margin              : 0;
  left                : 1117px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.github .github1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 340px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size           : 70.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 84.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}