@import url('https://fonts.googleapis.com/css?family=Roboto:400');

@font-face {
                          font-family: "SamsungOneKorean-300";
                          src: url('../fonts/SamsungOneKorean-300_v1.2_hinted_20180830.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "SamsungOneKorean-400";
                          src: url('../fonts/SamsungOneKorean-400_v1.2_hinted_20180830.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "SamsungOneKorean-700";
                          src: url('../fonts/SamsungOneKorean-700_v1.2_hinted_20180830.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "SamsungOneKorean-500";
                          src: url('../fonts/SamsungOneKorean-500_v1.2_hinted_20180830.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "SamsungOneKorean-600";
                          src: url('../fonts/SamsungOneKorean-600_v1.2_hinted_20180830.ttf') format("truetype");
                        }
                        
.tag {
  width               : 100%;
  min-width           : 1920px;
  height              : 100vh;
  min-height          : 1620px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(243, 246, 248, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.tag .tag1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 340px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size           : 70.0px;
  color               : rgba(73, 87, 97, 1.0);
  text-align          : left;
  line-height         : 84.0px;
}
.tag .uc5c5ub370uc774ud2b8ub41cud398uc774uc9c0ub294uc0c1ub2e8ud0c0uc774ud2c0uc5d0 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 285px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 340px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.tag .ud0a4uc2a4ud06cub9b0uc758uad6cuc131ub0b4uc6a9uc911uc774uc804ub0b4uc6a9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 733px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 340px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(88, 98, 104, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.tag .keyscreens {
  background-color    : rgba(255,255,255,0.0);
  top                 : 833px;
  height              : 622px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 340px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tag .keyscreens .contentsbox {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 587px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tag .keyscreens .contentsbox .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 587px;
  box-sizing          : border-box;
  width               : 1240px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(227, 227, 227, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tag .keyscreens .spacing {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 622px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 870px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tag .keyscreens .spacing .guidemeasurearea {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 587px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tag .keyscreens .spacing .guidemeasurearea .addsamecolorasneeded {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 587px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 0.25;
}
.tag .keyscreens .spacing .guidemeasurearea .area {
  background-color    : rgba(38, 231, 173, 1.0);
  top                 : 0px;
  height              : 587px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 0.25;
}
.tag .keyscreens .spacing .guidemeasurerulerbottom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 587px;
  height              : 35px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tag .keyscreens .spacing .guidemeasurerulerbottom .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 35px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tag .keyscreens .spacing .guidemeasurerulerbottom .a0 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  transform           : rotate(0deg);
  opacity             : 0.6;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 18.0px;
}
.tag .keyscreens .spacing .guidemeasurerulerbottom .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 9px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tag .keyscreens .tagrefer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 62px;
  height              : 29px;
  width               : 174px;
  position            : absolute;
  margin              : 0;
  left                : 885px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tag .keyscreens .tagrefer .rectangle {
  background-color    : rgba(17, 186, 159, 1.0);
  top                 : 0px;
  height              : 29px;
  width               : 174px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tag .keyscreens .tagrefer .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 17px;
  width               : 155px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tag .keyscreens .tagrefer .group1 .referto1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.tag .keyscreens .tagrefer .group1 .pagename {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 17px;
  width               : 102px;
  position            : absolute;
  margin              : 0;
  left                : 53px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tag .keyscreens .tagrefer .group1 .pagename .label1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.tag .keyscreens .tagrefer .group1 .pagename .pagename1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.tag .keyscreens .tagrefer .group1 .pagename .label2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 98px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-700", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.tag .keyscreens .guidekeyscreensmobileportrait {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : 507px;
  width               : 240px;
  position            : absolute;
  margin              : 0;
  left                : 370px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tag .keyscreens .guidekeyscreensmobileportrait .scrmoport {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 507px;
  width               : 240px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tag .keyscreens .guidekeyscreensmobileportrait1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : 507px;
  width               : 240px;
  position            : absolute;
  margin              : 0;
  left                : 630px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tag .keyscreens .guidekeyscreensmobileportrait1 .scrmoport {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 507px;
  width               : 240px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tag .updated {
  background-color    : rgba(255,255,255,0.0);
  top                 : 224px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 340px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 34.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.tag .referto {
  background-color    : rgba(255,255,255,0.0);
  top                 : 672px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 340px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 34.0px;
  color               : rgba(73, 87, 96, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.tag .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 355px;
  height              : 199px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 340px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tag .group .contentsbox {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 164px;
  width               : 1240px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tag .group .contentsbox .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 164px;
  box-sizing          : border-box;
  width               : 1240px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(227, 227, 227, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tag .group .pagetitle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "SamsungOneKorean-300", Helvetica, Arial, serif;
  font-size           : 70.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 84.0px;
}
.tag .group .spacing {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 199px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 302px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tag .group .spacing .guidemeasurearea {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 164px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tag .group .spacing .guidemeasurearea .addsamecolorasneeded {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 164px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 0.25;
}
.tag .group .spacing .guidemeasurearea .area {
  background-color    : rgba(38, 231, 173, 1.0);
  top                 : 0px;
  height              : 164px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 0.25;
}
.tag .group .spacing .guidemeasurerulerbottom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 164px;
  height              : 35px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tag .group .spacing .guidemeasurerulerbottom .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 35px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tag .group .spacing .guidemeasurerulerbottom .a0 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  transform           : rotate(0deg);
  opacity             : 0.6;
  font-family         : "SamsungOneKorean-400", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 18.0px;
}
.tag .group .spacing .guidemeasurerulerbottom .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 9px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tag .group .tagupdate {
  background-color    : rgba(255,255,255,0.0);
  top                 : 97px;
  height              : 27px;
  width               : 103px;
  position            : absolute;
  margin              : 0;
  left                : 317px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tag .group .tagupdate .rectangle {
  background-color    : rgba(3, 129, 254, 1.0);
  top                 : 0px;
  height              : 27px;
  width               : 103px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tag .group .tagupdate .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 17px;
  width               : 83px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tag .group .tagupdate .group1 .version {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.tag .group .tagupdate .group1 .v {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.tag .group .tagupdate .group1 .updated1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SamsungOneKorean-500", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}